* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url(/images/image-hero-mobile.jpg) top/contain no-repeat #f2f2f2;
  font-family: "Commissioner", sans-serif;
  text-align: left; }

a {
  text-decoration: none; }

body.show-menu {
  overflow-y: hidden; }
  body.show-menu::after {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0; }

h1 {
  font-size: clamp(1.5rem, 3vw, 5rem); }

h5 {
  font-size: clamp(1rem, 2vw, 3rem); }

p {
  color: #7a7a7a;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.7; }

.section {
  background: #fff;
  width: 85%;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 10px; }

.cyan-btn {
  padding: 1.3rem 2.5rem;
  background: #3cb4ac;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 50px;
  outline: none;
  border: none; }

.gray-btn {
  padding: 1.3rem 2.5rem;
  background: #7a7a7a;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 50px;
  outline: none;
  border: none; }

.out-of-stock {
  opacity: 50%; }

.selection-modal {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.5); }

.modal-option {
  padding: 1.5rem;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  margin-bottom: 2rem; }

.radio {
  display: flex;
  align-items: center;
  padding-bottom: 1rem; }

.radio_input {
  display: flex; }
  .radio_input input {
    opacity: 0;
    width: 0;
    height: 0; }

.radio_control {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.1em solid #7a7a7a; }

.radio_label {
  line-height: 1;
  padding-left: 1rem; }

@use '../abstracts' as *;
.about__heading {
  padding: 1rem 0 2rem 0; }

.about__text {
  padding-bottom: 1rem; }

.reward {
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem; }
  .reward__pledge {
    color: #3cb4ac;
    padding-top: 0.5rem; }
  .reward__text {
    padding: 1.5rem 0; }
  .reward__left {
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
  .reward--lg-text {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    padding-right: 0.7rem; }

.backed {
  text-align: center; }
  .backed--lg-text {
    font-size: clamp(2.5rem, 5vw, 7rem);
    font-weight: 700;
    color: black; }
  .backed__section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0; }
  .backed__amt-raised {
    padding-top: 1rem; }
  .backed__amt-raised::after, .backed__total-backers::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    border-bottom: 1px solid #7a7a7a;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .backed__progress-bar {
    content: "";
    width: 100%;
    height: 1rem;
    background: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 1rem; }
  .backed__progress-completed {
    content: "";
    width: 89%;
    height: 100%;
    background: #3cb4ac;
    border-radius: 10px; }

.hero {
  margin-top: 12rem;
  position: relative;
  text-align: center; }
  .hero__logo {
    position: absolute;
    top: -11%;
    left: 40%; }
  .hero__heading {
    padding: 1rem 0; }
  .hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem; }
  .hero__btn {
    margin-right: 1rem; }

.nav {
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3; }
  .nav__links {
    transform: translateX(120%);
    position: fixed;
    background: #fff;
    width: 88%;
    left: 0;
    margin: 2rem 1.5rem;
    color: black;
    margin-top: 23rem;
    border-radius: 10px; }
  .nav__link {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem;
    border-bottom: 1px solid #f2f2f2; }
    .nav__link:last-child {
      border-bottom: none; }

a {
  color: black; }

.nav__links.show-menu {
  transform: translateX(0); }
