.backed {
  text-align: center;

  &--lg-text {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    color: $black;
  }

  &__section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
  }

  &__amt-raised {
    padding-top: 1rem;
  }

  &__amt-raised::after,
  &__total-backers::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    border-bottom: 1px solid $dk-gray;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__progress-bar {
    content: "";
    width: 100%;
    height: 1rem;
    background: $lt-gray;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  &__progress-completed {
    content: "";
    width: 89%;
    height: 100%;
    background: $cyan;
    border-radius: 10px;
  }
}

@media (min-width: 750px) {
  .backed {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 5rem;
    text-align: left;

    &__section {
      padding: 0 2rem;
    }

    &__progress-bar {
      grid-row: 2;
      grid-column: 1 / span 3;
      margin-top: 2rem;
    }

    &__amt-raised {
      padding: 0;
    }

    &__amt-raised,
    &__total-backers {
      border-right: 1px solid $dk-gray;
    }

    &__amt-raised::after,
    &__total-backers::after {
      content: none;
    }
  }
}
