.nav {
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  &__links {
    transform: translateX(120%);
    position: fixed;
    background: #fff;
    width: 88%;
    left: 50%;
    margin-left: -44%;
    color: $black;
    margin-top: 23rem;
    border-radius: 10px;
  }

  &__link {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem;

    border-bottom: 1px solid $lt-gray;

    &:last-child {
      border-bottom: none;
    }
  }
}

a {
  color: $black;
}

.nav__links.show-menu {
  transform: translateX(0);
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }

  a {
    color: #fff;
  }

  .nav {
    display: flex;
    flex-direction: row;

    &__links {
      display: flex;
      background: none;
      transform: none;
      position: inherit;
      width: auto;
      margin: 0;
      left: auto;
    }

    &__link {
      color: #fff;
      border-bottom: none;
      font-size: 1.3rem;
    }
  }
}
